:root {
    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-gray-blue: hsl(216, 30%, 68%);
    --clr-darker-violet: hsl(270, 9%, 17%);
    --clr-gray-violet: hsl(273, 4%, 51%);
    --clr-light-gray: hsl(0, 0%, 98%);
}