@import './constants.css';

nav {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid red; */
}

.hamburgerMenu {
    border: none;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: var(--clr-light-gray);
    font-size: 2rem;
}

ul {
    background-color: var(--clr-dark-violet);
    list-style: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 100vh;
    padding-top: 3rem;
    /* padding: 1rem; */
}

li {
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    /* margin: 0 1rem; */
    padding: 0 2rem;
} 



a {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    border: 2px solid transparent;
    
}

/* a:hover {
    border: 2px solid var(--clr-light-gray);
} */

.mobileMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.mobileNavPattern {
    margin-top: auto;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.viewPlans {
    border: 2px solid var(--clr-light-gray);
}

@media (min-width: 800px) {
    .hamburgerMenu {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        height: auto;
        width: auto;
        padding: 0;
        gap: 1rem;
        background-color: white;
    }

    li {
        padding: 0;
    }

    

    a {
        color: var(--clr-gray-violet);
        font-size: 1rem;
        text-wrap: nowrap;
        padding: .5rem;
    }

    a:hover {
        color: var(--clr-darker-violet);
    }

    .mobileNavPattern {
        display: none;
    }

    .viewPlans {
        color: var(--clr-darker-violet);
        border: 2px solid var(--clr-darker-violet);
    }

    .viewPlans:hover {
        background-color: var(--clr-darker-violet);
        color: var(--clr-light-gray);
    }
}